__pycache__/
*.pyc
/*.mp4
certs/
*.pem
recordings/
CLAUDE.md
*.txt
/brick_size_check/
/assets/
commands
json_data
.DS_Store

/inspire_hand/meshes
/inspire_hand/recordings
/inspire_hand/*.png
/inspire_hand/*.mp4
/inspire_hand/*.json
/inspire_hand/*.txt
/*.png
/*.txt
/inspire_hand
